body {
    background-color: lightcoral;
}

h1{
    font-family: 'Oswald', sans-serif;
    background-color: aquamarine;
    color : yellow;

}

#show_sketch {
    float : right;
}

#score{
    margin-left: 5px;
}
#timer{
    float: right;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-right: 5px;
}
p{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: black;
}
p, span {
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 25px;
}